.checkout-steps > div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
}

.checkout-steps > div > a {
    text-decoration: none;
    color: #a0a0a0;
}

.checkout-steps > div.active {
    border-bottom: 0.2rem solid #f0ba24;
    color: #f0ba24;
    font-weight: bold; 
}

.checkout-steps > div.active > a {
    text-decoration: none;
    color: #f0ba24;
}