.summary-card {
 height: 18rem;
}
.items-card{
    height: fit-content;
}

.text-shortner{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.edit-link-container{
    display: flex;
    justify-content: center;
}
.summery-line{
    display: flex;
    justify-content: space-between;
}