.header{
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2f;
}
.header-text{
  color: white;
  font-weight: bold;
}
.header a {
   color: #ffffff;
   font-weight: bold; 
}

.search-box{
    width: 30rem;
    margin: 10px;
}
.dropdown-menu{
  background-color: #2d2d2f;
}
.cart-badge{
  font-size: 1.05rem;
  color: #2d2d2f;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke: rgb(60, 60, 58) 0.9px; */
}
